.background_hero {
    background-color: rgba(26,188,156,255);
}

.img_container {
    max-width: 200px;
}

.nav_personal {
    background-color: #2c3e50;
} 
header .navbar {
    margin-bottom: 0;
}

.nav_personal a {
    color: white;
}

.nav_personal .nav>li>a:focus,
.nav_personal .nav>li>a:hover {
    background-color: #3a546d;
}

.text-white {
    color: white;
}

.text-white p {
    font-size: 12px;
}

.img_portfolio {
    min-height: 100px;
    margin: 15px 0;
}

.about {
    background-color: rgba(26,188,156,255);
    color: white;
    text-align: center;
}

button.btn-transparent {
    color: white;
    background-color: transparent;
    border-color: white;
    margin-bottom: 15px;
}

button.btn-transparent:hover {
    color: white;
}

.form-control {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
}

.btn_white {
    background-color: transparent;
    border: solid 1px white;
}
.btn_green {
    background-color: rgb(16, 184, 77);
    color: rgb(255, 255, 255);
}

.footer_top {
    background-color: #2c3e50;
}

.footer_top a {
    line-height: 40px;
    text-align: center;
    margin: 0;
    color: white;
}

.footer_bottom {
    background-color: #222f3c;
}

.social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
}